@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

body {
  margin: 0;
  font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: relative;

  background-color: #22222b;
  color: #eeeee2;
  height: 100vh;
  width: 100vw;

  overflow-x: hidden;
}

#image-container {
  display: flex;
  flex-direction: column;
}

.image-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.image-row img {
  border: 1px solid black;
  transition-duration: 0.5s;
}

.image-row img:hover {
  cursor: pointer;
  filter: brightness(80%);
}

#focused-image {
  position: fixed;
  width: 100vw;
  height: 100vh;
  
  background-color: rgba(32, 32, 32, 0.8);
  top: 0;
  left: 0;
}

#focused-image.inactive {
  display: none;
}

#focused-image.active {
  display: flex;
  align-items: center;
  justify-content: center;
}

#focused-image img {
  border: 3px solid #eee;
}

.footer, .header {
  background-color: #22222b;
  color: #eeeee2;
  padding: 20px;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer {
  height: auto;
}

.header {
  height: auto;
  width: 80%;
  padding: 20px 10%;
}

a, a:visited, .link {
  color: #aaf;
  text-decoration: none;
}

a:hover, .link:hover {
  color: #88f;
  cursor: pointer;
}

.header .title {
  font-size: 36px;
  font-weight: 900;
}