.app {
  background-color: #22222b;
  color: #eeeee2;
  height: 100vh;
  width: 100vw;

  font-family: 'Lato', sans-serif;
}

#image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#image-container {
  height: 300px;
}